DATABASE_URL="postgresql://USER:PASSWORD@HOST-POOLER/neondb?sslmode=require&channel_binding=require&pgbouncer=true&connect_timeout=15"
JWT_SECRET="cambia_esto_por_un_secret_largo_de_64_caracteres_o_mas"
NEXT_PUBLIC_APP_URL="https://tu-app.up.railway.app"
STRIPE_SECRET_KEY="sk_test_tu_clave_secreta"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_tu_clave_publica"
# Opcional, solo si activas correo
# RESEND_API_KEY="re_xxx"
# EMAIL_FROM="BIOKRONE <noreply@tudominio.com>"
